#logo{text-align:center;}
@font-face {
    font-family: arista;
    src: url('http://www.keepnation.com/arista.otf');
}
body{
	background:#FFFFFF;
	color:#092B7D;
	font-family: arista;
	overflow: hidden;
	width:100%;
	margin: 0; 
	padding: 0;
}
h1{
	color:#061960;
	font-family: arista;
}
h3{
	color:#061960;
}
.menuelement{
	box-shadow: 10px 10px 10px #1F6BFF;
	border-color:#1F96FF;
	width:100px;
	height:105px;
	text-align:center;
	border-width:3px;
	border-style: outset;
	background:#FFFFFF;
	font-weight:bold;
	color:#1F6BFF;
	border-radius: 10px;
	position: fixed;
}
.menuelement:hover{
	box-shadow: 5px 5px 10px #092B7D;
	color:#092B7D;
	border-color:#092B7D;
}
.menuelement:active{
	box-shadow: 0px 0px 10px #092B7D;
}

#elecontact{
	display:none;
}
#eleproduct{
	display:none;
}
#eleboard{
	display:none;
}

.width250{
	position:relative;
	width:250px;
	left:25px;
}
#sponsorpoints{
	position:relative;
	top:-75px;
}

#elepoints{
	display:none;
}
.close{
	width:30px;
	height:30px;
	position: absolute;
	right:-15;
	top:-15;
}

.floatleft{
	float: left;
	width:90px;
	height:90px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}

.teammember{
	text-align:left;
	width:370px;
	height:100px;
	background:#FFFFFF;
	position:absolute;
	border-radius:5px;
	box-shadow: 2px 2px 2px #888888;
}
.titremember{
	font-size:16px;
}
.descmember{
	font-size:14px;
}
.boardmember{
	text-align:left;
	width:500px;
	height:100px;
	background:#FFFFFF;
	position:absolute;
	border-radius:5px;
	box-shadow: 2px 2px 2px #888888;
}
.boardmember1{
	top:70px;
	left:10px;
}
.boardmember2{
	top:180px;
	left:90px;
}
.boardmember3{
	top:290px;
	left:10px;
}
.colonne2{	
	left: 410px;
}
.colonne1{	
	left: 20px;
}
.ligne1{
	top:70px;
}
.ligne2{
	top: 180px;
}
.ligne3{
	top: 290px;
}
.colonne12{
	left:175px;
}
.margintop{
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	box-shadow: 2px 2px 2px #888888;
	float: left;
	width:75px;
	height:75px;
}
#txt1-4{
	width:350px;
	left:50px;
	position:relative;
}
.benefitstext{
	text-align:left;
}
.benefitstitre{
	text-align:left;
	font-size:20px;
	font-weight:bold;
}

#pin{
	width:35px;
	height:35px;
	position:absolute;
	top:-10px;
	left:120px; 
}

#achievement{
	visibility:hidden;
}
.coloredbackground{
	background:#AAC1FF;
}
.bottomright{
	position:absolute;
	right:-500px;
	bottom:50px;
	z-index:100;
}
#dummy{
	z-index:1000;
}

.floatright{
	float: right;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	width:40px;
	height:40px;
}
.pointslist{
	text-align:left;
	width:250px;
	height:50px;
	background:#FFFFFF;
	border-radius:5px;
	box-shadow: 2px 2px 2px #888888;
	margin:5px;
	border-style:solid;
	border-width:1px;
	border-color:#999999;
}
.pointslist:hover{
	background:#AACCFF;
}
#awards{
	position:absolute;
	left:25px;
	top:60px;
}
#achievements{
	position:absolute;
	left:325px;
	top:60px;
}
.floatleft2{
	float: left;
	width:40px;
	height:40px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}
.achpoints{
	position:relative;
	left:0px;
	top:-37px;
	background:rgba(255,255,255,0.2);
	border-radius:5px;
}
.awapoints{
	position:relative;
	left:0px;
	top:-23px;
	background:rgba(255,255,255,0.2);
	border-radius:5px;
}
#content{
	text-align:center;
}
#notification{
	position:absolute;
	right:20px;
	bottom:20px;
	background:#0000FF;
	border-radius:7px;
	width:15px;
	height:15px;
	color:#FFFFFF;
	font-size:12px;
	display:none;
}

.elementcaption{
	display:inline-block;
	margin:5px;
}
#errormessage{
	position:absolute;
	background:#ffffff;
	color:#ff0000;
	border-width:2px;
	border-color:#ff0000;
	border-style:solid;
	width:300px;
	top:200px;
	display:none;
	left:150px;
	font-size:20px;
	vertical-align:middle;
}