#logo{text-align:center;}
@font-face {
    font-family: arista;
    src: url('http://www.keepnation.com/arista.otf');
}
body{
	background:#FFFFFF;
	color:#092B7D;
	font-family: arista;
	overflow: hidden;
	width:100%;
	margin: 0; 
	padding: 0;
}
h1{
	color:#061960;
	font-family: arista;
}
h3{
	color:#061960;
}
#clickele{
	text-align:center;
	position:relative;
	top:100px;
	left:0;
	width:100%;
}
.menuelement{
	box-shadow: 10px 10px 10px #1F6BFF;
	border-color:#1F96FF;
	width:100px;
	height:105px;
	text-align:center;
	border-width:3px;
	border-style: outset;
	background:#FFFFFF;
	font-weight:bold;
	color:#1F6BFF;
}
.menuelement:hover{
	box-shadow: 5px 5px 10px #092B7D;
	color:#092B7D;
	border-color:#092B7D;
}
.menuelement:active{
	box-shadow: 0px 0px 10px #092B7D;
}
#contact{
	position:absolute;
	left:50px;
	top:0px;
	border-radius: 10px;
}
#contact:hover {
	left:55px;
	top:5px;
}
#contact:active {
	left:60px;
	top:10px;
 }
#team{
	position:absolute;
	left:225px;
	top:0px;
	border-radius: 10px;
}
#team:hover{
	left:230px;
	top:5px;
}
#team:active{
	left:235px;
	top:10px;
}
#board{
	position:absolute;
	left:400px;
	top:0px;
	border-radius: 10px;
}
#board:hover{
	left:405px;
	top:5px;
}
#board:active{
	left:410px;
	top:10px;
}
#product{
	position:absolute;
	left:575px;
	top:0px;
	border-radius: 10px;
}
#product:hover{
	left:580px;
	top:5px;
}
#product:active{
	left:585px;
	top:10px;
}
#bonus{
	position:absolute;
	left:750px;
	top:0px;
	border-radius: 10px;
}
#bonus:hover{
	left:755px;
	top:5px;
}
#bonus:active{
	left:760px;
	top:10px;
}
#menuelement{
	text-align:center;
	position:relative;
	top:10px;
}
#menu{
	left:50%;
	width:900px;
	margin-left: -450px;
	center:0px;
	position: absolute; 
	bottom:130px;
}
.element{
	position: fixed;
	left:50%;	
	margin-left:-300px;
	top:50%;
	margin-top:-200px;
	width:600px;
	height:400px;
	background-color:rgba(255,255,255,0.95);
	border-style: solid;
	border-width:5px;
	border-radius:15px;
	box-shadow: 10px 10px 10px #1F6BFF;
	border-color:#092B7D;
	text-align:center;
	z-index:1;
}
#clickbutton{
	width:400px;
	left:50%;
	margin-left:-200px;
	position: absolute;
}
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#1F6BFF), to(#092B7D));
   background: -webkit-linear-gradient(top, #1F6BFF, #092B7D);
   background: -moz-linear-gradient(top, #1F6BFF, #092B7D);
   background: -ms-linear-gradient(top, #1F6BFF, #092B7D);
   background: -o-linear-gradient(top, #1F6BFF, #092B7D);
   padding: 20px 40px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   box-shadow: 0px 10px 5px #888888;
   }
.button:hover {
   border-top-color: #1F6BFF;
   background: #1F6BFF;
   color: #ccc;
   margin-top:5px;
   box-shadow: 0px 5px 5px #888888;
   }
.button:active {
   border-top-color: #092B7D;
   background: #092B7D;
   margin-top:10px;
   box-shadow: 0px 0px 5px #888888;
   }
#eleproduct{
	display:none;
}
#eleteam{
	display:none;
	margin-left:-400px;
	margin-top:-200px;
	width:800px;
	height:400px;
}
#eleboard{
	display:none;
}
#elebonus{
	display:none;
	margin-left:-250px;
	margin-top:-192px;
	width:500px;
	height:385px;
}
.close{
	width:30px;
	height:30px;
	position: absolute;
	right:-15;
	top:-15;
}
#teamlocked{
	position:absolute;
	left:225px;
	top:0px;
}
#boardlocked{
	position:absolute;
	left:400px;
	top:0px;
}
#prodlocked{
	position:absolute;
	left:575px;
	top:0px;
}
#bonuslocked{
	position:absolute;
	left:750px;
	top:0px;
}
.lock{
	width:110px;
	height:150px;
	text-align:center;
}
.floatleft{
	float: left;
	width:90px;
	height:90px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}

.teammember{
	text-align:left;
	width:370px;
	height:100px;
	background:#FFFFFF;
	position:absolute;
	border-radius:5px;
	box-shadow: 2px 2px 2px #888888;
}
.titremember{
	font-size:16px;
}
.descmember{
	font-size:14px;
}
.boardmember{
	text-align:left;
	width:500px;
	height:100px;
	background:#FFFFFF;
	position:absolute;
	border-radius:5px;
	box-shadow: 2px 2px 2px #888888;
}
.boardmember1{
	top:70px;
	left:10px;
}
.boardmember2{
	top:180px;
	left:90px;
}
.boardmember3{
	top:290px;
	left:10px;
}
.colonne2{	
	left: 410px;
}
.colonne1{	
	left: 20px;
}
.ligne1{
	top:70px;
}
.ligne2{
	top: 180px;
}
.ligne3{
	top: 290px;
}
.colonne12{
	left:175px;
}
.margintop{
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	box-shadow: 2px 2px 2px #888888;
	float: left;
	width:75px;
	height:75px;
}
.mailing{
	border-style: outset;
	border-color:#999999;
	border-width:1px;
	border-radius:10px;
	width: 450px;
	left:75px;
	position:relative;
	font-size:20px;
	text-align:center;
}
#txt1-4{
	width:350px;
	left:50px;
	position:relative;
}
.benefitstext{
	text-align:left;
}
.benefitstitre{
	text-align:left;
	font-size:20px;
	font-weight:bold;
}
#hiring{
	position:fixed;
	left:20px;
	top:150px;
	width:250px;
	height:250px;
	border-width:1px;
	box-shadow: 2px 2px 2px #888888;
	text-align:center;
	z-index:-1;
}
#pin{
	width:35px;
	height:35px;
	position:absolute;
	top:-10px;
	left:120px; 
}
#txt6-1{
	width:200px;
	text-align:center;
	position:relative;
	left:25px;
}
#divgauge{
	width:900px;
	height:60px;
	border-width:5px;
	border-radius:10px;
	border-color:#1F96FF;
	border-style:solid;
	background: "#FFFFFF";
	background: -webkit-radial-gradient(center, rgb(255, 255, 255) 30%, rgb(150, 200, 255) 100%);
	background: -moz-radial-gradient(center, rgb(255, 255, 255) 30%, rgb(150, 200, 255) 100%);
	background: -ms-radial-gradient(center, rgb(255, 255, 255) 30%, rgb(150, 200, 255) 100%);
	background: -o-radial-gradient(center, rgb(255, 255, 255) 30%, rgb(150, 200, 255) 100%);
	text-align:center;	
}
#gauge{
	position:absolute;
	width:0px;
	height:30px;
	top:20px;
	left:100px;
	background: -webkit-linear-gradient(top, #1F6BFF 30%, #092B7D 100%);
	background: -moz-linear-gradient(top, #1F6BFF 30%, #092B7D 100%);
	background: -ms-linear-gradient(top, #1F6BFF 30%, #092B7D 100%);
	background: -o-linear-gradient(top, #1F6BFF 30%, #092B7D 100%);
}
.indicator{
	position:absolute;
	top:10px;
	text-align:center;
}
#indicator1{
	position:absolute;
	left:90px;
	width:20px;	
}
#indicator3{
	position:absolute;
	left:440px;
	width:20px;	
}
#indicator4{
	position:absolute;
	left:615px;
	width:20px;	
}
#indicator5{
	position:absolute;
	left:790px;
	width:20px;	
}
#indicator2{
	position:absolute;
	left:265px;
	width:20px;	
}
#pleaseplay{
	bottom:30px;
	z-index:10;
	background:rgba(255,255,255,0.7);
	position:absolute;
	left:50%;
	width:600px;
	margin-left:-300px;
	border-style:solid;
	border-color:#1F6BFF;
	border-width:5px;
	font-size:18px;
	text-align:center;
	display:none;
}
.coloredbackground{
	background:#AAC1FF;
}
.bottomright{
	position:absolute;
	right:-500px;
	bottom:50px;
	z-index:100;
}