
#contact{
	left:20%;
	margin-left:-50px;
	bottom:10px;
}
#contact:hover {
	bottom:5px;
}
#contact:active {
	bottom:0px;
 }
#team{
	left:40%;
	margin-left:-50px;
	bottom:10px;
}
#team:hover{
	bottom:5px;
}
#team:active{
	bottom:0px;
}
#board{
	left:60%;
	margin-left:-50px;
	bottom:10px;
}
#board:hover{
	bottom:5px;
}
#board:active{
	bottom:0px;
}
#product{
	left:80%;
	margin-left:-50px;
	bottom:10px;
}
#product:hover{
	bottom:5px;
}
#product:active{
	bottom:0px;
}
#menuelement{
	text-align:center;
	position:fixed;
	bottom:120px;
}
.element{
	position: fixed;
	left:50%;	
	margin-left:-300px;
	top:50%;
	margin-top:-200px;
	width:600px;
	height:400px;
	background-color:rgba(255,255,255,0.95);
	border-style: solid;
	border-width:5px;
	border-radius:15px;
	box-shadow: 10px 10px 10px #1F6BFF;
	border-color:#092B7D;
	text-align:center;
	z-index:1;
}

#eleteam{
	display:none;
	margin-left:-400px;
	margin-top:-200px;
	width:800px;
	height:400px;
}

#sponsor{
	display:none;
	margin-left:-150px;
	margin-top:-225px;
	width:300px;
	height:450px;
	text-align:center;
}

#elebonus{
	display:none;
	margin-left:-250px;
	margin-top:-192px;
	width:500px;
	height:385px;
}


#txt1-4{
	width:350px;
	left:50px;
	position:relative;
}
.mailing{
	border-style: outset;
	border-color:#999999;
	border-width:1px;
	border-radius:10px;
	width: 450px;
	left:75px;
	position:relative;
	font-size:20px;
	text-align:center;
}
#hiring{
	position:fixed;
	left:20px;
	top:150px;
	width:250px;
	height:250px;
	border-width:1px;
	box-shadow: 2px 2px 2px #888888;
	text-align:center;
	z-index:-1;
}
#txt6-1{
	width:200px;
	text-align:center;
	position:relative;
	left:25px;
}

.coloredbackground{
	background:#AAC1FF;
}
#points{
	position:fixed;
	top:10px;
	right:10px;
	text-align:center;
}
#awardcaption{
	position:absolute;
	bottom:0px;
	width:100%;
}